.data-wrapper h1{
    color: wheat;
    font-size: 100px;
    font-family: 'Bebas Neue', sans-serif;
}
.data-wrapper h4{
    margin-top: -20px;
    font-family: 'Raleway', sans-serif;
    color: wheat;
}